<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard || Sangeetham</title>

    <script src="https://unpkg.com/feather-icons"></script>

    <link rel="stylesheet" href="/css/admin/main.css">
</head>
<body class="dashboard">
    <div class="sidebar">
        <h3 class="brand headerText2">
            Sangeetham
        </h3>
        <p class="title">MENU</p>
        <ul>
            <li class="active">
                <i data-feather="home"></i>
                <p>Home</p>
            </li>
            <li class="">
                <i data-feather="mic"></i>
                <p>ARTISTS</p>
            </li>
            <li class="">
                <i data-feather="film"></i>
                <p>MOVIES</p>
            </li>
            <li class="">
                <i data-feather="user"></i>
                <p>USERS</p>
            </li>
        </ul>
    </div>
    <div class="content">

    </div>

    <script>
        feather.replace()
      </script>
</body>
</html>