<div id="sidebar" class="sidebar">
    <h3 class="brand headerText2">
        Sangeetham
    </h3>
    <p class="title">MENU</p>
    <ul>
        <li onclick="window.location.href='/admin/dashboard'" <% if (page_name === 'home') { %>class="active" <% } %>>
            <i data-feather="home"></i>
            <p>Home</p>
        </li>
        <li onclick="window.location.href='/admin/artists'" <% if (page_name === 'artists') { %>class="active" <% } %>>
            <i data-feather="mic"></i>
            <p>ARTISTS</p>
        </li>
        <li onclick="window.location.href='/admin/movies'" <% if (page_name === 'movies') { %>class="active" <% } %>>
            <i data-feather="film"></i>
            <p>MOVIES</p>
        </li>
        <li onclick="window.location.href='/admin/users'" <% if (page_name === 'users') { %>class="active" <% } %>>
            <i data-feather="user"></i>
            <p>USERS</p>
        </li>
    </ul>
</div>

<script>
    function toggleSidebar(){
        if(document.getElementById("sidebar").style.left == "-100%" || document.getElementById("sidebar").style.left == ''){
            document.getElementById("sidebar").style.left = "0";
        } else {
            document.getElementById("sidebar").style.left = "-100%";
        }
    }

</script>