@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");
* {
  font-size: 16px; }

.smallText {
  font-size: 12px; }

.headerText2 {
  font-size: 18px; }

.headerText {
  font-size: 28px; }

.index .centerDiv {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: -1px 10px 13px 0px #adadad;
  border-radius: 20px; }
  @media screen and (max-width: 480px) {
    .index .centerDiv {
      flex-direction: column;
      width: 100%;
      left: 0;
      top: 0;
      transform: translate(0, 0);
      align-items: center;
      margin-top: 50px; } }
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    .index .centerDiv {
      width: 100%; } }
  .index .centerDiv .left {
    padding: 100px 50px;
    background-color: #171738;
    border-radius: 20px;
    width: 50%;
    color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (max-width: 480px) {
      .index .centerDiv .left {
        width: 80%;
        padding: 20px; } }
    .index .centerDiv .left img {
      width: 100px; }
    .index .centerDiv .left .brand {
      font-weight: bold;
      margin-bottom: 10px;
      color: white; }
    .index .centerDiv .left hr {
      margin-bottom: 10px;
      width: 50%;
      color: white; }
    .index .centerDiv .left .welcome {
      color: white; }
    .index .centerDiv .left .quote {
      margin-top: 20px;
      display: block;
      color: #e0e0e0;
      text-align: center; }
      .index .centerDiv .left .quote span {
        font-weight: bold;
        color: white; }
  .index .centerDiv .right {
    padding: 100px 50px;
    width: 50%; }
    @media screen and (max-width: 480px) {
      .index .centerDiv .right {
        width: 80%; } }
    .index .centerDiv .right form {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .index .centerDiv .right form strong {
        color: red;
        animation: cssAnimation 0s ease-in 3s forwards; }
      .index .centerDiv .right form p {
        color: gray;
        margin-bottom: 50px; }
      .index .centerDiv .right form input {
        padding: 8px;
        margin-bottom: 40px;
        border: none;
        border-bottom: solid 2px gray;
        transition: all ease 0.3s;
        width: 80%;
        border-radius: 0; }
        .index .centerDiv .right form input:hover, .index .centerDiv .right form input:focus {
          border-bottom-color: #ED4D6E; }
      .index .centerDiv .right form button {
        padding: 10px 0px;
        width: 80%;
        background-color: #171738;
        border-radius: 10px;
        border: none;
        color: white;
        cursor: pointer; }

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden; } }

.dashboard {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #171738; }
  .dashboard .sidebar {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.022);
    height: 100%;
    color: white; }
    .dashboard .sidebar .brand {
      padding: 15px; }
    .dashboard .sidebar .title {
      padding: 15px;
      margin-top: 10px;
      font-size: 12px;
      color: #c8c8c8; }
    .dashboard .sidebar ul {
      color: #e7e7e7; }
      .dashboard .sidebar ul li {
        padding: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-left: solid 5px rgba(255, 255, 255, 0); }
        .dashboard .sidebar ul li:hover {
          border-left: solid 5px white;
          border-radius: 5px; }
        .dashboard .sidebar ul li p {
          font-size: 14px;
          margin-left: 15px;
          font-weight: bold; }
      .dashboard .sidebar ul .active {
        border-left: solid 5px white;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.119); }

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px; }
