@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");
* {
  font-size: 16px; }

.smallText {
  font-size: 12px; }

.headerText2 {
  font-size: 18px; }

.headerText {
  font-size: 28px; }

.index .centerDiv {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: -1px 10px 13px 0px #adadad;
  border-radius: 20px; }
  @media screen and (max-width: 480px) {
    .index .centerDiv {
      flex-direction: column;
      width: 100%;
      left: 0;
      top: 0;
      transform: translate(0, 0);
      align-items: center;
      margin-top: 50px; } }
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    .index .centerDiv {
      width: 100%; } }
  .index .centerDiv .left {
    padding: 100px 50px;
    background-color: #171738;
    border-radius: 20px;
    width: 50%;
    color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (max-width: 480px) {
      .index .centerDiv .left {
        width: 80%;
        padding: 20px; } }
    .index .centerDiv .left img {
      width: 100px; }
    .index .centerDiv .left .brand {
      font-weight: bold;
      margin-bottom: 10px;
      color: white; }
    .index .centerDiv .left hr {
      margin-bottom: 10px;
      width: 50%;
      color: white; }
    .index .centerDiv .left .welcome {
      color: white; }
    .index .centerDiv .left .quote {
      margin-top: 20px;
      display: block;
      color: #e0e0e0;
      text-align: center; }
      .index .centerDiv .left .quote span {
        font-weight: bold;
        color: white; }
  .index .centerDiv .right {
    padding: 100px 50px;
    width: 50%; }
    @media screen and (max-width: 480px) {
      .index .centerDiv .right {
        width: 80%; } }
    .index .centerDiv .right form {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .index .centerDiv .right form strong {
        color: red;
        animation: cssAnimation 0s ease-in 3s forwards; }
      .index .centerDiv .right form p {
        color: gray;
        margin-bottom: 50px; }
      .index .centerDiv .right form input {
        padding: 8px;
        margin-bottom: 40px;
        border: none;
        border-bottom: solid 2px gray;
        transition: all ease 0.3s;
        width: 80%;
        border-radius: 0; }
        .index .centerDiv .right form input:hover, .index .centerDiv .right form input:focus {
          border-bottom-color: #ED4D6E; }
      .index .centerDiv .right form button {
        padding: 10px 0px;
        width: 80%;
        background-color: #171738;
        border-radius: 10px;
        border: none;
        color: white;
        cursor: pointer; }

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden; } }

.dashboard {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #171738;
  color: white; }
  .dashboard .sidebar {
    width: 250px;
    height: 100%;
    transition: all ease 0.5s;
    background: #1a1a40;
    z-index: 100; }
    @media screen and (max-width: 500px) {
      .dashboard .sidebar {
        position: absolute;
        left: -100%; }
        .dashboard .sidebar:after {
          position: absolute;
          width: 100%;
          background-color: black; } }
    .dashboard .sidebar .brand {
      padding: 15px; }
    .dashboard .sidebar .title {
      padding: 15px;
      margin-top: 10px;
      font-size: 12px;
      color: #c8c8c8; }
    .dashboard .sidebar ul {
      color: #e7e7e7; }
      .dashboard .sidebar ul li {
        padding: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-left: solid 5px rgba(255, 255, 255, 0); }
        .dashboard .sidebar ul li:hover {
          border-left: solid 5px white;
          border-radius: 5px; }
        .dashboard .sidebar ul li p {
          font-size: 14px;
          margin-left: 15px;
          font-weight: bold; }
      .dashboard .sidebar ul .active {
        border-left: solid 5px white;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.119); }

.content {
  width: 100%;
  overflow: auto; }
  .content .header {
    display: none; }
    @media screen and (max-width: 500px) {
      .content .header {
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.082);
        width: 100%;
        padding: 15px;
        justify-content: space-between;
        max-width: 100%;
        box-sizing: border-box; } }

.artists .content .topbar {
  margin-top: 0 25px;
  padding: 25px;
  display: flex;
  align-items: center; }
  .artists .content .topbar .title {
    font-weight: bold;
    width: fit-content;
    margin-right: 20px; }

.artists .content .buttonsGroup {
  display: flex; }
  .artists .content .buttonsGroup button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 48px;
    border: none;
    cursor: pointer;
    background-color: #629677;
    color: white; }
    .artists .content .buttonsGroup button:hover > p {
      max-width: 7rem; }
    .artists .content .buttonsGroup button p {
      max-width: 0;
      transition: max-width 0.5s;
      display: inline-block;
      vertical-align: top;
      white-space: nowrap;
      overflow: hidden; }
    .artists .content .buttonsGroup button .feather {
      width: 15px;
      height: 15px; }

.artists .content .artists {
  display: flex;
  padding: 25px;
  flex-wrap: wrap; }
  @media screen and (max-width: 500px) {
    .artists .content .artists {
      flex-direction: column;
      align-items: center;
      padding: 25px; } }
  .artists .content .artists .artist {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.11);
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative; }
    @media screen and (max-width: 500px) {
      .artists .content .artists .artist {
        width: 90%; } }
    @media screen and (min-width: 500px) and (max-width: 1000px) {
      .artists .content .artists .artist {
        width: 40%;
        box-sizing: border-box; } }
    .artists .content .artists .artist:hover .buttonsgroup {
      display: flex; }
    .artists .content .artists .artist img {
      width: 100%;
      height: 200px;
      object-fit: cover; }
    .artists .content .artists .artist .title {
      font-weight: bold;
      margin-top: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .artists .content .artists .artist .about {
      font-size: 10px;
      color: #adadad;
      line-height: 1.5em;
      height: 3em;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 5px; }
    .artists .content .artists .artist .buttonsgroup {
      position: absolute;
      top: 10px;
      right: 0;
      background-color: black;
      display: none;
      align-items: center;
      padding: 5px;
      border-radius: 30px 0px 0px 30px; }
      .artists .content .artists .artist .buttonsgroup .edit,
      .artists .content .artists .artist .buttonsgroup .delete {
        margin-left: 10px;
        cursor: pointer; }
        .artists .content .artists .artist .buttonsgroup .edit .feather,
        .artists .content .artists .artist .buttonsgroup .delete .feather {
          width: 15px;
          height: 15px; }

.artists .modal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 105;
  background-color: rgba(0, 0, 0, 0.795);
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center; }
  .artists .modal .modal-content {
    height: max-content;
    background-color: #171738;
    padding: 0px 30px 30px 30px;
    position: relative;
    width: 300px; }
    .artists .modal .modal-content .modal-header {
      display: flex;
      align-items: center;
      justify-content: center; }
      .artists .modal .modal-content .modal-header img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-top: 20px; }
      .artists .modal .modal-content .modal-header button {
        position: absolute;
        right: 10px;
        top: 10px;
        background: none;
        border: none;
        cursor: pointer; }
        .artists .modal .modal-content .modal-header button .feather {
          stroke: white; }
    .artists .modal .modal-content .modal-body .title {
      margin-top: 20px;
      font-weight: bold; }
    .artists .modal .modal-content .modal-body form {
      margin-top: 20px; }
      .artists .modal .modal-content .modal-body form .inputGroup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px; }
        .artists .modal .modal-content .modal-body form .inputGroup p {
          font-size: 14px; }
        .artists .modal .modal-content .modal-body form .inputGroup input {
          font-size: 14px;
          padding: 5px 10px;
          border: none;
          background: none;
          border-bottom: solid 1px white;
          color: #d4d4d4; }
    .artists .modal .modal-content .modal-body button {
      padding: 5px;
      width: 100%;
      margin-top: 20px;
      border: none;
      background: #629677;
      color: white;
      cursor: pointer;
      border-radius: 30px; }

.movies .content .artists .artist .title {
  cursor: pointer; }

.movieDetails .detailsTab {
  padding: 25px;
  display: flex; }
  .movieDetails .detailsTab .left img {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover; }
  .movieDetails .detailsTab .right {
    padding-left: 50px; }
    .movieDetails .detailsTab .right .title {
      font-size: 25px; }
    .movieDetails .detailsTab .right .about {
      font-size: 14px;
      color: #b4b4b4; }
    .movieDetails .detailsTab .right .rating {
      margin-top: 25px; }
      .movieDetails .detailsTab .right .rating span {
        color: yellow;
        margin-left: 5px; }
    .movieDetails .detailsTab .right .buttons {
      margin-top: 30px;
      display: flex; }
      .movieDetails .detailsTab .right .buttons button {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 48px;
        border: none;
        cursor: pointer;
        background-color: #629677;
        color: white;
        margin-right: 15px; }
        .movieDetails .detailsTab .right .buttons button .feather {
          width: 20px;
          height: 20px; }
      .movieDetails .detailsTab .right .buttons .deleteBtn {
        background-color: #975151; }

.movieDetails .songsDetailsTab {
  padding: 10px 25px; }

.movieDetails .modal form select {
  padding: 5px;
  font-size: 14px;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: solid 1px white; }
  .movieDetails .modal form select option {
    color: black; }

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px; }
