@import "colors";
@import "fonts";

@import "./pages/index";
@import "./pages/dashboard";

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 16px;
}